<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastWay</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Moirai+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/912e452282.js" crossorigin="anonymous"></script>
    <style>
        html{
            background: #fff;
            background-size: cover;
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    
    <div class="top-container invoice-cover-bg">
        <div class="top-area">
            <div class="menu">
                <i class="fa fa-bars" style="color:#4D5A9F;"></i>
            </div>
            <!--Todo add minipay kit to see balance and address-->
            <div class="wallet-balance">
                <p class="balance-box">$ 0.00 cUSD</p>
            </div>
            <div class="wallet-address">
                <p><i class="fa fa-circle-check"></i> 0x1..B9</p>
            </div>
        </div>
        
        <% if(companiesList){ %>
            <% companiesList.forEach((company)=>{ %>
                <div class="profile-status-box companies-status-box">
                   
                    <div class="profile-content">
                        <div class="profile-name company-name">
                            <a href="/app/fastway/list/companies/account/pay/<%= company.address %>">
                                <%= company.name %>
                            </a>
                        </div>

                        <div class="invoice-details-section company-address">
                            <p id="companyAddr" ><i class="fa fa-copy"></i> <%= (company.address).slice(0,9) %>...<%= (company.address).slice(-2) %></p>
                            <p><%= company.street_address %></p>
                        </div>


                        <div class="profile-balances  invoice-section-profile-balances">
                            <div class="balances">
                                <div class="balance-logo"><img src="/pictures/celo.jpeg" alt=""></div>
                                <div class="balance-value">CELO <%= 0.00 %></div>
                            </div>
        
                            <div class="balances">
                                <div class="balance-logo"><img src="/pictures/cusd.png" alt=""></div>
                                <div class="balance-value">$ <%= 0.00 %></div>
                            </div>
                        </div>

                        


                    </div>
                </div>
            
            <% }) %>
            
        <% }else{ %>
        <% } %>
    </div>

   <script>
       /* const company_address = document.getElementById('companyAddr').innerHTML
        const copyContent = async () => {
        try {
            await navigator.clipboard.writeText(company_address);
            alert('Content copied to clipboard');
            } catch (err) {
            alert('Failed to copy: ', err);
        }
        
     }
     copyContent()*/
   </script> 
   
</body>
</html>